.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 1rem;

        @include respond(tab-port) {
            float: left;
            position: relative;
            width: 33.33333%;
            box-shadow: 0.1 1.5rem 3rem rgba($color-black, .2);
        }
    
        &--p1 {
            left: 5rem;
            top: -2rem;

            @include respond(tab-port) {
                top: 0;
                left: 0;
                transform: scale(1.2);
            }
        }

        &--p2 {
            left: 15rem;
            top: 6rem;

            @include respond(tab-port) {
                top: 0;
                left: 0;
                transform: scale(1.2) translate(-10%, -10%);
            }
        }

        &--p3 {
            left: -3rem;
            top: 13rem;

            @include respond(tab-port) {
                top: 0;
                left: 0;
                transform: scale(1.2) translateX(-30%);
            }
        }

        &:hover {
            transform: scale(1.15) translateY(-1.5rem);
            box-shadow: 0 2.5rem 5rem rgba($color-black, .5);
            z-index: 20;
            outline: 1.15rem solid $color-primary;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.85) translateY(1.5rem);
        box-shadow: 0 0.5rem 3rem rgba($color-black, .3);
    }
}